/* You can add global styles to this file, and also import other style files */

.no-wrap {
	white-space: nowrap;      /* Prevents wrapping and keeps text in a single line */
	overflow: hidden;         /* Hides text that overflows the element width */
	text-overflow: ellipsis;  /* Adds an ellipsis if the text overflows */
}

.no-wrap-text {
	display: inline-block;     /* Ensures the element respects width and overflow */
	max-width: 100%;           /* Ensures the element respects the container's width */
	vertical-align: top;       /* Aligns inline-block elements correctly */
}

.btn {
	margin-left: 3px;
	margin-right: 3px;
}

.login {
	padding-top: 50px;
}

.error-page {
	margin-top: 100px;
}

.navbar {
	padding: 0.5rem 1rem;
}

.nav-link {
	cursor: pointer;
	color: rgba(26,26,26,.75);
	margin-left: 3px;
	margin-right: 3px;
}

.nav-menu {
    width: 100%;
}

.nav-sidebar {
    min-height: calc(100vh - 58px);
}

.full-width {
    width: 100%;
}

.dashboard-title {
	margin-left: 25px;
}

.container-list {
	margin-top: 30px;
	margin-bottom: 30px;
}

.container-list tbody {
	cursor: pointer;
}

.container-item {
	margin-top: 30px;
}

.container-item tbody {
	cursor: pointer;
}

.datatable-orderby {
	cursor: 'pointer';
}

.divider {
	border-top: 1px solid #ececec;
	margin-left: 20px;
	margin-right: 20px;
}

.vertical-space {
	margin-top: 20px;
}
