__tests__/**        linguist-generated=true
__mocks__/**        linguist-generated=true
examples/**         linguist-generated=true
scripts/**          linguist-generated=true
api/**              linguist-generated=true
*.config.js         linguist-generated=true
*.config.ts         linguist-generated=true